USE shms_database;
GO

-- Check if Admins table exists and insert
IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Admins')
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Admins WHERE Email = 'musauronald02@gmail.com')
    BEGIN
        INSERT INTO Admins (
            Id, 
            Email, 
            PasswordHash, 
            FirstName, 
            LastName, 
            PhoneNumber, 
            AdminType, 
            IsActive, 
            IsEmailVerified, 
            CreatedAt, 
            UpdatedAt, 
            CreatedBy
        )
        VALUES (
            NEWID(),
            'musauronald02@gmail.com',
            '/HqwfFYz1zfeZjqTqbgbNIXR2457pPS3ChQ2mDefO6C',
            'Ronald',
            'Musau',
            '+254700000000',
            0,  -- 0 = SuperAdmin
            1,  -- IsActive
            1,  -- IsEmailVerified
            GETDATE(),
            GETDATE(),
            NULL
        );
        PRINT 'Super Admin created successfully!';
    END
    ELSE
    BEGIN
        PRINT 'Super Admin already exists!';
    END
END
ELSE
BEGIN
    PRINT 'Admins table does not exist yet. Run migrations first.';
END
GO
